@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

.ocultar{
    display: none;
    flex-direction: column;
}
.view{
    display: flex;
}
*{
    margin: 0;
    padding: 0 ;
}
#reserva{
  display: none;
}
:root{
    --blanco: #ffffff;
}
 
body{
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff77;
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.822);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    z-index: 1000000000000000000000;
    top: 0;
 
}
 
header:hover{
    background-color: var(--blanco);
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.932);
 
}

#container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
 
}
 
.icon {
    background: none;
    border: none;
    cursor: pointer;
    width: 9%;
    max-width: 50px;
}
 
#logo {
    width: 75px;
}
 
#logo img{
    width: 100%;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -35000px;
  width: 20%;
  min-width: 100p x;
  height: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1vw;
  transition: left 0.6s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.822);

}
#sessionlogeada{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
gap: 0px;
}
#sessionlogeada h5{
margin: 0;
font-size: 13px;
font-family: 'Barlow';
font-weight: 500;
}

#acount{

display: flex;
justify-content: space-around;

}
#imgcount{
width: 5vw;
}
#imgcount img{
width: 100%;
}
.cierresesion{
text-decoration: none;
text-decoration: none;
font-family: 'Barlow';
color: black; 
}
#sessionArea{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
gap: 5px;
}
.botoncuentas{
text-decoration: none;
text-decoration: none;
font-family: 'Barlow';
color: black;


}
.sidebar.show {
left: 0; }

a {
  text-decoration: none;
}
/* <main-style> ============================ */
.botton1 {
  color: #000000;
  line-height: 2;
  position: relative;
  font-family: barlow;
}

.botton1::before {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -.1rem;
  left: 0;
  transition: transform .4s, opacity .4s;
  opacity: 0;
}

.botton1:hover::before {
  transform: translateY(-.25rem);
  opacity: 1;
}

 
#slider-frame {
    overflow: hidden;
}
 
#slider-frame ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s ease-in-out;
}
 
#slider-frame li {
    min-width: 100%;
    box-sizing: border-box;
}
 
#slider-frame img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
 
.active {
    display: block;
}
 
main {
  max-width: 1200px;
  margin: 22% auto;
  padding: 0px 20px;
}
@media(min-width: 950px){
  main {
    max-width: 1200px;
    margin: 8% auto;
    padding: 0px 20px;
  }
  
}
.product-details {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(min-width: 550px){
  .product-details {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  flex-direction: row;
}
}
.product-image {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.product-image img {
  width: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.product-image .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product-image:hover .hover-image {
  opacity: 1;
}

.product-image:hover .default-image {
  opacity: 0;
}

.product-info {
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

.product-info h2 {
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5em;
  color: #807f7f;
  font-family: 'Bitter';
  font-weight: 400;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
  font-family: 'Barlow';
}

.purchase-form {
  display: flex;
  flex-direction: column;
}

.purchase-form label {
  font-family: 'Barlow';
  margin: 10px 0 5px;}


.envio{
  background-color: none;
  border: none;
  background: none;
}

.button {
  background-color: #919191;
  color: white;
  border-radius: 10px;
  padding: 1vw;
  border: none;
  font-family: 'Barlow';
  font-weight: 400;
  cursor: pointer;
  font-size: 1.2em;
}
.buy-btn:hover {
  background-color: #777777;
}



.inputs{
  display: flex;
  flex-direction: column;
}

.buttoncom {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin-top: 2vw;
  }
  
  .buttoncom::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .buttoncom::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .buttoncom::after,.buttoncom::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .textcom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrappercom,.textcom,.iconcom {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .textcom {
    top: 0
  }
  
  .textcom,.iconcom {
    transition: top 0.5s;
  }
  
  .iconcom {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconcom svg {
    width: 24px;
    height: 24px;
  }
  
  .buttoncom:hover {
    background: #222;
  }
  
  .buttoncom:hover .textcom {
    top: -100%;
  }
  
  .buttoncom:hover .iconcom {
    top: 0;
  }
  
  .buttoncom:hover:before,.buttoncom:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .buttoncom:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .buttoncom:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  







.product-specs h3 {
  font-size: 1.5em;
  font-family: 'Barlow';
  font-weight: 300;
  margin-bottom: 15px;
}

.product-specs ul {
  list-style-type: none;
  padding-left: 0;
}

.product-specs ul li {
  padding: 5px 0;
    font-family: 'Barlow';
    font-weight: 200;
}




.reserva-form{
    display: flex;
    flex-direction: column;
}

.reserva-form label {
    font-family: 'Barlow';
    margin: 10px 0 5px;}



    .input1 {
        line-height: 28px;
        border: 2px solid transparent;
        border-bottom-color: #777;
        padding: .2rem 0;
        outline: none;
        background-color: transparent;
        color: #0d0c22;
        transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin-bottom: 5px;
       }
       
       .input1:focus, input:hover {
        outline: none;
        padding: .2rem 1rem;
        border-radius: 1rem;
        border-color: #000000;
       }
       
       .input1::placeholder {
        color: #777;
       }
       
       .input1:focus::placeholder {
        opacity: 0;
        transition: opacity .3s;
       }
       





footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 30px 0;
}

.footer-content h3 {
  font-size: 24px;
  font-family: 'Barlow';
  margin-bottom: 10px;
  font-weight: 400;
  text-align: center;

}

.footer-content p {
  font-size: 14px;
  margin-bottom: 20px;
}
.politics{
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;

}
.politics a{
  text-decoration: none;
  font-family: Barlow;
  color: #333;
}
.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 0.3vw;
  font-family: Barlow;
  flex-direction: column;
  align-items: center;
}

.socials li {
  margin: 0 10px;
}
.socials img{
width: 5vw;
}
.socials a {
  color: rgb(0, 0, 0);
  font-size: 5.5vw;
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media(min-width: 450px){
  .socials img{
      width: 3vw;
      }
      .socials a {
        color: rgb(0, 0, 0);
        font-size: 2.5vw;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
      .politics {
          list-style: none;
          display: flex;
          align-items: center;
          align-content: center;
          flex-wrap: wrap;
          justify-content: space-around;
      }
  
}
@media(min-width: 700px){
  .socials img{
      width: 2vw;
      }
  .socials a {
      color: rgb(0, 0, 0);
      font-size: 1.5vw;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .politics {
      list-style: none;
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
    
}

.footer-bottom {
  background-color: #d9d9d9;
  padding: 20px 0;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  font-family: 'Bitter';
  text-align: center;
}

.footer-bottom span {
  color: #ff9900;
}